* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  color: #0d0d0d;
  cursor: pointer;
}

.img p a,
.footer-section .footer-ul a,
#text1 a,
#editors p a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

p {
  line-height: 1.7;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  border-bottom: 1px solid grey;
}

.nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.nav-links li a {
  color: #0d0d0d;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.nav-buttons button {
  margin: 10px;
  padding: 13px;
  background-color: #046;
  color: #fff;
  border-radius: 5px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1,
h3 {
  margin-left: -150px;
  margin-top: 40px;
}

header img {
  width: 1000px;
}

.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  border: 1px solid black;
  width: 30%;
  margin: auto;
}

.section1 #ttt {
  display: flex;
  justify-content: flex-end;
}

/* Section 2 */

.section2 {
  display: grid;
  grid-template-columns: 2.5fr 1.5fr;
  justify-items: end;
  align-items: center;

  /* flex-direction: row;
  justify-content: flex-end; */
}

.section2-content {
  width: 50%;

  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin-left: 400px; */
}

.create {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.create hr {
  width: 20%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

aside {
  width: 75%;

  /* margin: 0
  border: 1px solid black; */
}

.img {
  display: flex;
  flex-direction: row;
  width: 60%;
  padding: 10px;
}

.img img {
  height: 6rem;
}

.img p {
  font-size: 12px;
  font-weight: 100;
  margin-left: 10px;
}

.img a:hover {
  text-decoration: underline;
}

.section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 28rem;
}

.section4 {
  display: grid;
  grid-template-columns: 2.5fr 1.5fr;
  justify-items: end;
  align-items: center;
}

.section3 img {
  width: 70%;
}

.section5 {
  display: grid;
  grid-template-columns: 2.5fr 1.5fr;
  justify-items: end;
  align-items: center;
}

.section5-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: 90%;
  padding-top: 50px;
}

.section5-image p {
  font-size: 15px;
  width: 15rem;
}

.section6 {
  margin-left: 70px;
}

#editors {
  grid-template-columns: 1fr;
  width: 65%;
  margin-right: 20px;
  justify-self: center;
}

#editors p {
  padding: 15px;
}

.image-newyork {
  display: grid;
  grid-column: 2/9;
}

.image-newyork .image {
  display: grid;
  grid-column: 1/2;
}

.image-newyork .go-to {
  display: flex;
  justify-content: space-between;
}

.image-newyork hr {
  width: 100%;
  border: 3px double #888;
  margin: 20px;
}

.image-newyork #link1 {
  margin-top: 20px;
}

.image-newyork .go-to #link2 {
  text-decoration: none;
  font-size: 8px;
  color: #666;
  align-self: center;
}

.footer-section {
  display: grid;
  grid-column: 2/9;
  grid-auto-flow: column;
  width: 90%;
}

.footer-section .footer-ul {
  display: grid;
  justify-content: start;
  grid-auto-rows: min-content;
}

.footer-section p {
  font-size: 13px;
  font-weight: 600;
}

.sub {
  border-left: 1px solid #888;
  padding-left: 10px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.subscribe #vectorlogo img {
  width: 15px;
}

.subscribe-line {
  width: 180px;
  color: #888;
  margin: 5px;
}

.subscribe-list {
  padding: 5px;
}

a.subscribe-list {
  font-size: 10px;
}

.last {
  grid-column: 2/9;
}

.last-line {
  width: 100%;
  color: #888;
}

.last ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-bottom: 10px;
  width: 85%;
}

.last ul li a {
  color: #888;
  font-size: 12px;
}

.last ul li a:hover {
  text-decoration: underline;
}

#text1 {
  margin-left: -31rem;
  margin-bottom: 2rem;
}

#text2 {
  margin-right: 7rem;
}

.incons-inside i {
  margin: 1rem;
  cursor: pointer;
}

#text3 {
  margin-bottom: 2rem;
}

#lastbuton {
  margin-right: 8rem;
  background-color: #046;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #fff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.5rem;
}

#lasttext1 {
  font-size: 10px;
}

figcaption {
  font-size: 15px;
  margin-bottom: 1rem;
}

iframe {
  margin-top: 2rem;
}

#lastpic {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
