* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  cursor: pointer;
  color: #0d0d0d;
}

a {
  color: #0d0d0d;
  text-decoration: none;
}
p{
  line-height: 1.4;
  font-size: 16px;
  font-family: 'Roboto';
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  border-bottom: 1px solid grey;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  color: #0d0d0d;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.nav-buttons button {
  margin: 10px;
  padding: 13px;
  background-color: #004466;
  color: #fff;
  border-radius: 5px;
}

header{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
header h1, h3 {
  margin-left: -150px;
  margin-top: 40px;
}
header img {
  width: 1000px;
}

/* Section 1 */

/* #section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section1-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 #section1 h3 {
  margin-left: 300px;
  padding: 20px;
}

 #date {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 270px;
/* } */
/*
.icons li {
  display: inline-block;
  margin-right: 80px;
}
#icons-left {
  float: right;
} */

/* #tttt {
  display: flex;
  align-items: center;
  justify-content: center;
} */
.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  border: 1px solid black;
  width: 40%;
  margin: auto;

}
.section1 #ttt{
display: flex;
justify-content: flex-end;

}
